# Ignore editor backup files
*~

# Ignore bad merge files
*.rej
*.orig

# Ignore Visual Studio local and binary files
*.pdb
*.ncb
*.suo
*.vcproj.*.user

# RJW: I copy GhostPDL.sln to something more memorable in each checkout
# so VS2005 shows me a sensible 'Recent Projects' list. Ignore the copy.
win32/GhostPDLGit.sln

# Ignore all the object files
debugobj
obj
profobj
debugobj64
obj64
profobj64
cscope.*
autom4te.cache
