# Ignore editor backup files
*~
*.swp

# Ignore bad merge files
*.rej
*.orig

# Ignore Visual Studio local and binary files
*.pdb
*.ncb
*.suo
*.vcproj.*.user

# RJW: I copy GhostPDL.sln to something more memorable in each checkout
# so VS2005 shows me a sensible 'Recent Projects' list. Ignore the copy.
win32/GhostPDLGit.sln

# Ignore all the object files
bin
debugbin
profbin
membin
bin64
debugbin64
profbin64
debugobj
obj
profobj
memobj
debugobj64
obj64
profobj64
debugaux
cscope.*
autom4te.cache

gs/Makefile
gs/Makefile.in
gs/config.log
gs/config.status
gs/configure
gs/configure.ac
gs/debugobjrt/
gs/cups/gstopxl
gs/jbig2dec/.deps/
gs/jbig2dec/Makefile
gs/jbig2dec/config.log
gs/jbig2dec/config.status
gs/tiff/Makefile
gs/tiff/build/Makefile
gs/tiff/config.log
gs/tiff/config.status
gs/tiff/contrib/Makefile
gs/tiff/contrib/acorn/Makefile
gs/tiff/contrib/addtiffo/.deps/
gs/tiff/contrib/addtiffo/Makefile
gs/tiff/contrib/dbs/.deps/
gs/tiff/contrib/dbs/Makefile
gs/tiff/contrib/dbs/xtiff/Makefile
gs/tiff/contrib/iptcutil/.deps/
gs/tiff/contrib/iptcutil/Makefile
gs/tiff/contrib/mac-cw/Makefile
gs/tiff/contrib/mac-mpw/Makefile
gs/tiff/contrib/mfs/Makefile
gs/tiff/contrib/pds/Makefile
gs/tiff/contrib/ras/Makefile
gs/tiff/contrib/stream/Makefile
gs/tiff/contrib/tags/Makefile
gs/tiff/contrib/win_dib/Makefile
gs/tiff/html/Makefile
gs/tiff/html/images/Makefile
gs/tiff/html/man/Makefile
gs/tiff/libtiff/.deps/
gs/tiff/libtiff/Makefile
gs/tiff/libtiff/stamp-h1
gs/tiff/libtiff/stamp-h2
gs/tiff/libtiff/tif_config.h
gs/tiff/libtiff/tiffconf.h
gs/tiff/libtool
gs/tiff/man/Makefile
gs/tiff/port/.deps/
gs/tiff/port/Makefile
gs/tiff/test/.deps/
gs/tiff/test/Makefile
gs/tiff/tools/.deps/
gs/tiff/tools/Makefile
gs/jbig2dec/config.h
gs/jbig2dec/configure.lineno
gs/jbig2dec/libtool

config.guess
config.log
config.mak
config.status
config.sub
configure
install-sh
tiff
tiff-config


/Makefile
/auxflags.mak


# Adding the following lines would help limit the 'noise' seen in git status
# due to files created during testing. Conversely, it prevents them being
# removed with git clean. A compromise is to include them here commented out
# so that people can copy them to their local .git/info/exclude if they want
# them.
# /*.pam
# /*.pbm
# /*.pgm
# /*.pkm
# /*.pnm
# /*.png
# /*.tif
# /*.tiff
# gs/*.pam
# gs/*.pbm
# gs/*.pgm
# gs/*.pkm
# gs/*.pnm
# gs/*.png
# gs/*.tif
# gs/*.tiff
