/* Copyright (C) 2001-2019 Artifex Software, Inc.
   All Rights Reserved.

   This software is provided AS-IS with no warranty, either express or
   implied.

   This software is distributed under license and may not be copied,
   modified or distributed except as expressly authorized under the terms
   of the license contained in the file LICENSE in this distribution.

   Refer to licensing information at http://www.artifex.com or contact
   Artifex Software, Inc.,  1305 Grant Avenue - Suite 200, Novato,
   CA 94945, U.S.A., +1(415)492-9861, for further information.
*/



#include <windows.h>
#include "dwres.h"
#include "gscdefs.h"


#ifndef gstext_ico
#define gstext_ico gswin.ico
#endif
#ifndef gsgraph_ico
#define gsgraph_ico gswin.ico
#endif

GSTEXT_ICON ICON gstext_ico
GSIMAGE_ICON ICON gsgraph_ico

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION        0,0,GS_VERSION_MAJOR,GS_VERSION_MINOR
 PRODUCTVERSION     0,0,GS_VERSION_MAJOR,GS_VERSION_MINOR
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileVersion",      GS_STRINGIZE(GS_DOT_VERSION) "\0"
            VALUE "ProductVersion",   GS_STRINGIZE(GS_DOT_VERSION) "\0"
            VALUE "LegalCopyright",   GS_COPYRIGHT "\0"
            VALUE "ProductName",      GS_PRODUCT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
