/* Copyright (C) 1996, 1998 Russell Lang.  All rights reserved.
*/


/*$RCSfile$ $Revision$*/

#include <windows.h>
#include "dwmain.h"

#ifndef gstext_ico
#define gstext_ico gswin.ico
#endif
#ifndef gsgraph_ico
#define gsgraph_ico gswin.ico
#endif

GSTEXT_ICON ICON gstext_ico
GSIMAGE_ICON ICON gsgraph_ico

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif
