/* Copyright (C) 1999, 2000, Ghostgum Software Pty Ltd.  All rights reserved.
*/

// $RCSfile$ $Revision$

#include <windows.h>
#include "dwuninst.h"

ID_UNINSTGS ICON "gswin.ico"


IDD_UNSET DIALOG 6, 15, 242, 123
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "&Cancel", IDCANCEL, 106, 98, 50, 14
 PUSHBUTTON "&Uninstall", IDOK, 16, 98, 50, 14
 LTEXT "To remove this package, press Uninstall", IDC_PRESSOK, 44, 8, 192, 8
 LTEXT "", IDC_T1, 32, 48, 200, 16
 LTEXT "", IDC_T2, 32, 64, 200, 16
 ICON ID_UNINSTGS, IDC_GSICON, 8, 8, 18, 20
}


