/* Copyright (C) 2001-2006 artofcode LLC.
   All Rights Reserved.
  
   This software is provided AS-IS with no warranty, either express or
   implied.

   This software is distributed under license and may not be copied, modified
   or distributed except as expressly authorized under the terms of that
   license.  Refer to licensing information at http://www.artifex.com/
   or contact Artifex Software, Inc.,  7 Mt. Lassen Drive - Suite A-134,
   San Rafael, CA  94903, U.S.A., +1(415)492-9861, for further information.
*/

/* $Id$*/
/* Resources for GS16SPL.EXE, 16-bit access to print spooler */
/* 1995-11-10 */

#include <windows.h>

#define ID_TEXT 100

#ifndef gstext_ico
#define gstext_ico gswin.ico
#endif

1 ICON gstext_ico

SpoolDlgBox DIALOG 20, 32, 158, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "GS Win32s/Win16 spooler"
FONT 8, "Helv"
BEGIN
	CONTROL "&Cancel", IDCANCEL, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 8, 36, 32, 14
	ICON 1, 1, 8, 8, 16, 16
	LTEXT "", ID_TEXT, 40, 12, 108, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
END

