/* Copyright (C) 1994 Aladdin Enterprises.  All rights reserved.
 * This software is licensed to a single customer by Artifex Software Inc.
 * under the terms of a specific OEM agreement.
 */

/*$RCSfile$ $Revision$*/
/* Resources for gsdll2.dll, Ghostscript DLL for OS/2 */

ICON 1 gsos2.ico
