/* Copyright (C) 1992, 1993 Aladdin Enterprises.  All rights reserved.
 * This software is licensed to a single customer by Artifex Software Inc.
 * under the terms of a specific OEM agreement.
 */

/*$RCSfile$ $Revision$*/
/* Resources for gsos2.exe, Ghostscript for OS/2 */

ICON 1 obj\gsos2.ico
