/* Copyright (C) 1996, Russell Lang.  All rights reserved.
*/


/*$RCSfile$ $Revision$*/
#include <windows.h>
#include "dwmain.h"

GSTEXT_ICON ICON gstext.ico
GSIMAGE_ICON ICON gsgraph.ico

#ifndef DS_3DLOOK
#define DS_3DLOOK 0x0004L	/* for Windows 95 look */
#endif
