# ignore normal build products
jbig2dec
libjbig2dec.a

# ignore object files
*.o
*.pbm
*.la
*.jbig2
*.jb2
*.pnm
*.log
*.txt
*.lo
*.tar
*.sh
test*
annex*
cov*

Makefile*
aclocal.m4
amb_1.png
asan.list
asan.list.old
compile
config.guess
config.h
config.h.in
config.sub
config_types.h
config_types.h.in
depcomp
dict
generic
indentcheck.py
install-sh
libtool
message
messages
missing
now
original
other
other.c
skillnad
stamp-h1

Jbig2_042_09.pdf
Jbig2_042_XXa.pdf
diff.pnm
diff2.pnm
.deps/
.libs/
changes/
html/
installed/
jbig2/
seg/
t
tags
origin-master.ppm
output.png
output.ppm
output.ps
post.log
pre.log
sebras-wip.ppm
tags
template2
template2a

